<label for="<%=field.get_name()%>" class="form-label">
    <%=field.render_label(Mode.render_html)%>
    <% if field.is_not_null(): %>
        <span class="text-danger" aria-hidden="true">*</span>
        <span class="visually-hidden">(required)</span>
    <% : %>
</label>
<div class="gdt-form-field input-group mb-3">
    <span class="input-group-text">
        <%=field.render_icon(Mode.render_html)%>
    </span>
    <input id="<%=field.get_name()%>" name="<%=field.get_name()%>" type="<%=field._input_type%>"
           class="form-control<%=' is-invalid' if field.has_error() else '' %>"
           <%=field.html_readonly()%>
           <%=field.html_placeholder()%>
           <%=field.html_pattern()%>
           <%=field.html_required()%>
           aria-label="<%=field.render_label(Mode.render_html)%>"
           value="<%=field.html_value()%>">
    <% if field.has_error():
        write(f'<div class="invalid-feedback">%s</div>' % field.render_error())
    %>
</div>
