<%
result = method.get_table_result()
ordered = method.gdo_ordered()
order_field = method.table_order_field() if ordered else None
filtered = method.gdo_filtered()
filter_field = method.table_filter_field() if filtered else None
searched = method.gdo_searched()
search_field = method.table_search_field() if searched else None
paginated = method.gdo_paginated()
page_menu = method.get_page_menu()
page_menu_html = page_menu.render_html()
%>
<a id="<%=field._name%>"></a>

<%
if searched:
    from gdo.form.GDT_Form import GDT_Form
    from gdo.form.GDT_Submit import GDT_Submit
    search_id = f'{field._name}_search'
    search_open = bool(search_field.get_val())
    form = GDT_Form().slim().get()
    form.text('info_search')
    form.add_field(search_field)
    form.actions().add_field(GDT_Submit())
    write(f'''<div class="accordion gdt-global-search mb-3" id="{search_id}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="{search_id}_heading">
            <button class="accordion-button{' collapsed' if not search_open else ''}" type="button" data-bs-toggle="collapse" data-bs-target="#{search_id}_body" aria-expanded="{'true' if search_open else 'false'}" aria-controls="{search_id}_body">
                {search_field.render_label()}
            </button>
        </h2>
        <div id="{search_id}_body" class="accordion-collapse collapse{' show' if search_open else ''}" aria-labelledby="{search_id}_heading" data-bs-parent="#{search_id}">
            <div class="accordion-body">{form.render_html()}</div>
        </div>
    </div>
</div>''')
%>

<%=page_menu_html%>

<% if filtered or searched: %>
    <div class="gdt-table-reset mb-3">
        <a class="btn btn-secondary" href="<%=method.table_reset_href()%>"><%=t('btn_clear_table_filters')%></a>
    </div>
<% : %>

<div class="gdt-table-scroll">
<form>
<table id="<%=field._name%>_table" class="table table-striped table-bordered">
    <thead>
    <tr>
    <%
    for gdt in method.gdo_table_headers():
        write('<th scope="col">')
        write(gdt.render_label())
        if ordered:
            write(order_field.display_table_order(gdt))
        if filtered and gdt.is_filterable():
            write(filter_field.display_table_filter(gdt))
        write('</th>')
    %>
    </tr>
    </thead>
    <tbody>
    <%
    headers = method.gdo_table_headers()
    for gdo in result:
        write('<tr>')
        for gdt in headers:
            func = f'render_{gdt.get_name()}'
            write('<td>')
            if hasattr(method, func):
                write(getattr(method, func)(gdt.gdo(gdo), gdo))
            else:
                write(gdt.gdo(gdo).render(Mode.render_cell))
            write('</td>')
        write('</tr>\n')
    %>
    </tbody>

    <tfoot>

    </tfoot>

</table>
    <input type="submit" style="display: none;">
</form>
</div>

<%=page_menu_html%>
